<div class="container">

<h2 class="text-dark  alert alert-secondary mt-3">Edit Course</h2>

<div class="ml-2">
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
        <label for="name" class="form-label">Tên khóa học</label>
        <input name="name" type="text" value="{{course.name}}" class="form-control" id="name">
    </div>
    <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input name="description" type="text" class="form-control" id="description">
    </div>
     <div class="mb-3">
        <label for="descDetail" class="form-label">Mô tả Chi tiết</label>
        <textarea name="descDetail" class="form-control" id="descDetail">{{course.descDetail}}</textarea>
    </div>
      <div class="mb-3">
            <label for="img" class="form-label">Image</label>
            <input name="img" type="text" value="{{course.img}}" class="form-control" id="img">
        </div>
     <div class="mb-3">
        <label for="videoId" class="form-label">Video ID</label>
        <input name="videoId" type="text" value="{{course.videoId}}" class="form-control" id="videoId">
    </div>
     <div class="mb-3">
        <label for="level" class="form-label">Độ khó</label>
        <input name="level" type="text" value="{{course.level}}" class="form-control" id="level">
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>
    
</form>
</div>
</div>